@font-face {
    font-family: "Sofia Pro";
    src: url(./Assests/fonts/sofiapro-light.otf); 
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


.navbar{
    background-color: #0065c3;
    height: 150px;
    position: sticky;
} 


.nav-item{
    margin-right: 1.5rem;
    font-family: Sofia Pro;
    font-size: .775rem;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    
}

.nav-item > a{ 
    color: #fff !important;
}

navbar-brand{
    margin-right: 50px;

}


/* button */
button {
    font-size: 1rem;
    height: 2.3rem;
    padding: 0.4em 1.85em;
    font-weight: bold;
    color: white;
    border-radius: 1.8em !important;
    width: 295.02px;
    border: 2px solid white;
    background-color: #3653F8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  button:hover{
    background-color: #fff;
    color: #0065c3;
    border-radius: 25px;

  }
  
  button .span-mother {
    display: flex;
    overflow: hidden;
  }
  
  button:hover .span-mother {
    position: absolute;
  }
  
  button:hover .span-mother span {
    transform: translateY(1.2em);
    
  }
  
  button .span-mother span:nth-child(1) {
    transition: .2s;
  }
  
  button .span-mother span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother span:nth-child(6) {
    transition: .7s;
  }

  button .span-mother span:nth-child(7) {
    transition: .8s;
  }

  
  button .span-mother2 {
    display: flex;
    position: absolute;
    overflow: hidden;
    

  }
  
  button .span-mother2 span {
    transform: translateY(-1.2em);
  }
  
  button:hover .span-mother2 span {
    transform: translateY(0);
  }
  
  button .span-mother2 span {
    transition: .2s;
  }
  
  button .span-mother2 span:nth-child(2) {
    transition: .3s;
  }
  
  button .span-mother2 span:nth-child(3) {
    transition: .4s;
  }
  
  button .span-mother2 span:nth-child(4) {
    transition: .5s;
  }
  
  button .span-mother2 span:nth-child(5) {
    transition: .6s;
  }
  
  button .span-mother2 span:nth-child(6) {
    transition: .7s;
  }

  button .span-mother2 span:nth-child(7) {
    transition: .8s;
  }
  
  button .span-mother2 span:nth-child(8) {
    transition: .9s;
  }

  button .span-mother2 span:nth-child(9) {
    transition: .10s;
  }

  
  button .span-mother2 span:nth-child(10) {
    transition: .11s;
  }

  button .span-mother2 span:nth-child(11) {
    transition: .12s;
  }

  button .span-mother2 span:nth-child(12) {
    transition: .13s;
  }

  button .span-mother2 span:nth-child(13) {
    transition: .14s;
  }


  



/* unlock pepsi */
  #unlockpespi{
    display: flex;
    flex-direction: row-reverse;
    
    width: 100%;
    height: 1000px;
    background-image: url(./Assests/images/latest2500.png);
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  
  /* unlock  */
  #logounlock{
    
    margin-right: 350px;
    display: flex;    
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    
  }

  .logounlock > img {    
    
    height: 600px;        
  }

  #unlockpespi2{   
   margin-top: 110px; 
   overflow: hidden;
  }

  #unlockpespi2 > img{   
   height: 950px;
  }

  .button1{
    align-content: flex-end;
   
  }

  #text{
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-size: 11px;
  

  }

  /*  background black Section      */
#black{
  background-color: black;  
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

#logo1{
 
  display: flex;
  position: relative;
  
}




#imtaste {
  width: 300px;
  position: absolute;
  margin-top: 250px;
  margin-left: 750px;
}

#zero1{
  
  display: flex;
  align-items: center;
  justify-content: center;


}

#zero1 > img{
  width: 800px;
}









#nitro{
  
  background-image: url(./Assests/images/bb1900668px.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  
  
}
  
#nitro1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 50px;
 

}

/* 
#nitro1 > img, h2 {
  
  /* display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center; */
 } 






#nitro1 h2 {  
  display: flex;
  flex-direction: row-reverse;
  font-family: "Sofia Pro";
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  
 
}

#nitroimage img {
  width: 600px;
  margin-top: 100px;
  
} 

 /* Better with pepsi start   */


#betterwithpepsi{
  
  width: 100%;
  height: 800px;
  background-color: rgb(38, 92, 197);
  
}


.image-box {
   width: 600px;
   background-color: #1437bf;
   text-align: center;
}

.image-content{
  padding: 10px 0;

}


.image-box > div > img {
  width: 100%;

} 

.image-box > div > h4 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;

} 

/* Better with pepsi start left section  */

#leftsection{
  margin: 30px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.right-section{
  width: 100%;
  height: 800px;
  background-image: url(./Assests/images/PEPBWPD.jpg);
  background-repeat: no-repeat;
  background-size: 1890px 868px ;
}

/* mango-container new section */

.mango-container{
  width: 100%;
  height: 900px;
  background-color: #1437bf;


}

.mango-leftsection{
  width: 100%;
  
  height: 900px;
  position: relative;
}

.five-image > img{
  width: 700px;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 50px;
}

.six-image > img{
  width: 900px;
  position: absolute;
  bottom: 0px;
}

.seven-image>img{
  width: 500px;
  position: absolute;
  bottom: 10px;
  left: 50px;

}


.eight-image>img{
    width: 1800px;
    height: 900px;
    object-fit: cover;
    

}
/* video  */

#video1{
  width: 100%;
  height: 1200px;
}

/* Thats what i like */

.Ilike-container{
  width: 100%;
  height: 1290px;
  background: #0065c3;  
  overflow: hidden;
}

.pepsiimage > img{
  margin-top: 100px;
  width: 1300px;

}

.mango-rightsectionr{
 
  margin-left: 450px;
  margin-top: 350px;
  justify-content: center;
  text-align: center;
}

/* ALL YOUR FAVORIE FLAVORS ALL RIGHT HERE */


.FAVORIE-FLAVORS{
  width: 100%;
  height: 800px;
  background-image: url(./Assests/images/04_Generation_BG_D_2.png); 
  border: 10px solid red;
  font-family: Sofia Pro Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  justify-content: center;
  overflow: hidden;
}

.FAVORIEFLAVORS-RIGHTSECTION{
  border: 10px red solid;
  margin-top: 150px;
  margin-left: 150px;
  width: 800px;

}

.FAVORIEFLAVORS-TEXT > h2 {
  font-family: Cervo Neue Black, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  
  
}


.FAVORIEFLAVORS-rightsection{ 
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.FAVORIEFLAVORS-IMAGE > img{
  margin-top: 170px;
  margin-left: 450px;

}
.buttonright > button{
  margin-top: 50px;
  margin-left: 150px;    

}
  
/* new section */

.stayonthepulse{
  width: 100%;
  height: 85px;
  
  font-family: Sofia Pro Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  display: flex;
  
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.stayonthepulse1{
  width: 100%;
  height: 400px;  
  font-family: Sofia Pro Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  display: flex;  
  overflow: hidden;
  margin: auto;
  justify-content: center;
  align-items: center;

}

.staypulse> h2 {
  color: #0065c3;
  font-size: 80px;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  font-family: Cervo Neue Black, Helvetica Neue, Helvetica, Arial, sans-serif;;

}

.pepsi-lotsofiamges{
  margin: 0;

 
  

}

.pepsitiktok > img{
  width: 420px;

}